
dk62/Oleg_Kuzhilnyi/Homeworks/HW7/HW7.xcodeproj/xcuserdata/air.xcuserdatad/xcschemes/HW7.xcscheme

dk62/Oleg_Kuzhilnyi/Homeworks/HW7/HW7.xcodeproj/project.xcworkspace/contents.xcworkspacedata

*.xcscheme

*.c
